/*-------FONTS--------*/

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*-------VISUALLY_HIDDEN--------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------BODY--------*/

body {
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

html {
  height: 100%;
}

/*-------CONTAINERS--------*/

.main-container {
  margin-top: -11px;
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-footer-container {
  display: flex;
  padding: 40px 70px 30px 40px;
}

.filters-container-left {
  margin-right: 152px;
  display: flex;
}

.filters-container-right {
  display: flex;
}

.filters-button-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 70px;
  justify-content: flex-end;
}

.catalog-hotels {
  box-shadow: none;
}

.catalog-hotels-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px 40px 70px;
}

.item-container {
  padding: 100px 85px;
  position: relative;
}

.item-container-white {
  padding: 112px 85px;
}

.card-content-container {
  display: flex;
  flex-wrap: wrap;
}

.card-button-container {
  display: flex;
  margin-bottom: 16px;
}

/*-------MODAL--------*/

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 576px;
}

.field {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.field::placeholder {
  color: #000000;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 22px;
}

.date {
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  margin-top: 4px;
  margin-left: 156px;
}

.date-error {
  color: #ff5757;
}

.field-group-people {
  margin: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  background-image: url("../images/cross-active.svg");
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form-button {
  width: 576px;
  background-color: #83b3d3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.check-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.check-field {
  padding: 12px 20px;
  width: 400px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.check-field:hover {
  background-color: #e6e6e6;
}

.check-field:focus {
  outline: 3px solid #83b3d3;
}

.check-field:focus-visible {
  outline: 2px solid #000000;
}

.adults-field,
.children-field {
  display: block;
  width: 10px;
  font: inherit;
  text-align: center;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0;
  padding: 14px 10px;
  appearance: textfield;
}

.adults-field::-webkit-outer-spin-button,
.adults-field::-webkit-inner-spin-button,
.children-field::-webkit-outer-spin-button,
.children-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label-children {
  display: block;
  position: relative;
}

.field-button {
  padding: 23px 20px;
  border: none;
  background-color: #f2f2f2;
  position: relative;
  cursor: pointer;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #7561574d;
}

.icon-plus {
  width: 14px;
  height: 2px;
}

.icon-minus {
  width: 20px;
  height: 20px;
}

.icon-minus:hover,
.icon-plus:hover {
  fill: #000000;
}

.icon-minus:focus,
.icon-plus:focus {
  outline: 3px solid #82b3d3;
}

.icon-minus:active,
.icon-plus:active {
  fill: #7561574d;
}

.field-people-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.field-button-container {
  display: flex;
}

.field-people-left,
.field-people-right {
  display: flex;
  align-items: center;
}

.field-people-left {
  margin-right: 88px;
}

.field-people-left .check-label-people {
  margin-right: 46px;
}

.field-people-right .check-label-people {
  margin-right: 20px;
  padding-right: 36px;
}

/*-------TOOLTIP--------*/

.tooltip {
  position: absolute;
  margin-top: -23px;
  margin-left: 60px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83b3d3;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: none;
  width: 216px;
  position: absolute;
  margin-top: 15px;
  transform: translateX(-44%);
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: -10px;
  right: 120px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

/*-------LOGO--------*/

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

/*-------LINKS--------*/

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 16px;
  position: relative;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.page-footer a {
  margin-top: 8px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  display: block;
  background-image: url("../images/breadcrumbs/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 10px;
  right: -18px;
  top: 3px;
  position: absolute;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-icon {
  min-width: 13px;
  min-height: 15px;
  background-image: url("../images/breadcrumbs/breadcrumbs-home.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.breadcrumbs-icon svg {
  fill: #ffffff;
}

.breadcrumbs-link:focus-visible {
  outline: 1px solid #83b3d3;
}

.breadcrubms-link-text:hover {
  color: #ffffff99;
}

.breadcrubms-link-text:focus {
  outline: none;
}

.breadcrubms-link-text:active {
  color: #ffffff4d;
}

.hotel-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/*-------PAGINATION--------*/

.pagination-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  padding: 12px 24px;
  border-radius: 4px;
  outline: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: #ffffff4d;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
  cursor: pointer;
}

/*-------BUTTONS--------*/

.button {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: none;
}

.navigation-button {
  display: flex;
  align-items: center;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 92px;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #615048;
}

.button:active {
  color: #ffffff4d;
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.book-hotel-button {
  display: block;
  border-radius: 4px;
  padding: 8px 50px;
  width: 276px;
  margin: 0 auto;
  margin-bottom: 96px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
}

.subscription-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  width: 232px;
}

.subscription-button:hover,
.subscription-button:focus,
.button-apply:hover,
.button-apply:focus,
.hotel-card-button-favorite:hover,
.hotel-card-button-favorite:focus {
  outline: none;
  background-color: #68a2ca;
  cursor: pointer;
}

.button-apply {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  margin-top: 56px;
}


.button-reset {
  background: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
}

.button-reset:hover {
  background: none;
  color: #ffffff4d;
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  background: none;
  border-radius: 4px;
}

.button-display {
  min-width: 16px;
  min-height: 14px;
  padding: 12px;
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  box-sizing: border-box;
}

.button-display:hover {
  border-color: #000000;
}

.button-display:focus {
  border-color: #68a2ca;
  outline: none;
}

.button-display:active {
  border-color: #000000;
}

.button-outlined {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotel-card-button-favorite {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  width: 140px;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card-button-favorite-current {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #7db54f;
  width: 140px;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card-button-favorite-current:hover {
  background-color: #6c9e42;
  cursor: pointer;
}

.hotel-card-button-favorite-current:focus {
  outline: none;
  background-color: #6c9e42;
}

.card-button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 140px;
  margin-right: 20px;
  border-radius: 4px;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #68a2ca;
}

/*-------HERO_BACKGROUND--------*/

.main-hero {
  background-image: url("../images/divider.svg"), url("../images/background/background-welcome.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  margin-bottom: 70px;
  position: relative;
}

.inner-hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../images/background/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

/*-------WELCOME--------*/

.welcome {
  text-align: center;
  margin-bottom: 64px;
}

.welcome-title {
  width: 620px;
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.welcome-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 89px;
}

/*-------ADVANTAGES--------*/

.advantages-company-list,
.advantages-location-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*-------ADVANTAGES_LOCATION--------*/

.advantages-location-item {
  width: 400px;
  background-color: #82b3d3;
}

.location-item-image {
  width: 1200px;
  display: flex;
}

.advantages-location-list {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.bright-block {
  background-color: #83b3d31f;
  color: #000000;
}

.bright-block p {
  color: #333333;
}

.dark-block {
  background-color: #83b3d333;
  color: #000000;
}

.dark-block p {
  color: #333333;
}

.advantages-location-title {
  position: relative;
  width: 175px;
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.advantages-location-title::before {
  content: "";
  position: absolute;
  width: 60px;
  display: block;
  height: 2px;
  background-color: #ffffff4d;
  bottom: -1px;
  transform: translateX(90%);
}

.advantages-location-title.title-black::before {
  background-color: #0000004d;
}

.advantages-location-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*-------ABOUT--------*/

.about {
  text-align: center;
  margin-bottom: 96px;
}

.about-title {
  display: inline-block;
  width: 500px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.about-description {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*-------ADVANTAGES_COMPANY--------*/

.advantages-company-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.advantages-company-item {
  padding: 180px 85px 85px 85px;
  width: 400px;
  position: relative;
}

.advantages-company-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  text-transform: uppercase;
}

.advantages-company-description {
  margin: 0;
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.advantages-company-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  top: 80px;
  right: 165px;
}

.advantages-accomodation::before {
  background-image: url("../images/advantages/advantages-icon-1.svg");
  width: 75px;
  height: 72px;
}

.advantages-food::before {
  background-image: url("../images/advantages/advantages-icon-2.svg");
  width: 75px;
  height: 72px;
}

.advantages-souvenirs::before {
  background-image: url("../images/advantages/advantages-icon-3.svg");
  width: 75px;
  height: 77px;
}

/*-------BOOK_HOTEL--------*/

.book-hotel {
  text-align: center;
}

.book-hotel-title {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.book-hotel-description {
  width: 590px;
  display: inline-block;
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*-------SUBSCRIPTION--------*/

.subscription {
  padding: 96px 260px;
  padding-bottom: 104px;
  text-align: center;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-catalog {
  padding: 96px 260px;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  width: 450px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 14px 20px;
  font: inherit;
}

.subscription-field:focus {
  outline: 2px solid #68a2ca;
}


/*-------FOOTER--------*/

.contacts-adress {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  font-style: normal;
}

.contacts-phone {
  text-align: center;
  display: inline-block;
  width: 720px;
}

.contacts-phone:hover,
.contacts-phone:focus {
  outline: none;
  color: #756157;
}

.contacts-phone:active {
  color: #7561574d;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.social-item {
  min-width: 24px;
  min-height: 14px;
  padding: 19px 12px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:focus svg {
  fill: #68a2ca;
}

.social-icon:hover {
  outline: none;
  fill: #68a2ca;
}

.social-icon:active {
  fill: #68a2ca4d;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  margin-left: auto;
  width: 115px;
  position: relative;
}

.html-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.html-link:focus svg {
  fill: #756157;
}

.html-logo:hover {
  outline: none;
  fill: #756157;
}

.html-logo:active {
  fill: #7561574d;
}

/*-------CATALOG_HOTELS--------*/

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.catalog-hotels-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 154px;
}

.catalog-hotels-select-control {
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 290px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin-right: 21px;
}

.catalog-hotels-select-control:hover {
  border-color: #68a2ca;
}

.catalog-hotels-select-control:focus {
  outline: none;
  border-color: #68a2ca;
}

.catalog-hotels-select-control:active {
  border-color: #3f5e72;
}

.catalog-hotels-select-control:disabled {
  color: #0000004d;
  border-color: #0000004d;
}


.hotel-card-category {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-align: right;
  width: 140px;
}

.hotel-card-review {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #333333;
  padding: 8px 22px;
  border-radius: 4px;
}

.hotel-card-stars {
  display: block;
  background-image: url("../images/star-review.svg");
  background-repeat: space;
  text-align: center;
  width: 140px;
  height: 17px;
  margin: 0;
  padding: 0;
}

.card-four-star {
  width: 80px;
}

.card-three-star {
  width: 60px;
}

.card-two-star {
  width: 40px;
}

.card-one-star {
  width: 20px;
}

.review-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.hotel-list {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-hotels-display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*-------CATALOG_FILTERS--------*/

.inner-header-title {
  display: block;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff4d;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-toggle:hover {
  background-color: #e6e6e6;
}

.range-input {
  display: block;
  width: 99px;
  font: inherit;
  text-align: left;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding: 14px 20px;
  appearance: textfield;
}

.input-placeholder {
  position: absolute;
  content: "от";
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgb(170, 170, 170);
}

.input-placeholder-right {
  right: 20px;
}

.input-placeholder-left {
  right: 160px;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus:not(:placeholder-shown) {
  outline: 2px solid #000000;
}

.range-input-left {
  border-radius: 4px 0 0 4px;
}

.range-input-right {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-left {
  margin-right: 70px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-label {
  line-height: 23px;
}

.control-mark-round {
  border-radius: 50%;
}

.control:hover .control-mark {
  background-color: #ffffff4d;
}

.control-input:focus + .control-mark {
  outline: 3px solid #68a2ca;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/tick.svg");
  width: 12px;
  height: 10px;
  top: 5px;
  right: 4px;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  content: "";
}

.control-mark:active {
  outline: none;
}

.control-input:active + .control-mark {
  outline: none;
  background-color: #ffffff4d;
}

.catalog-filters {
  color: #ffffff;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filters form {
  display: flex;
}

.hotels-display-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-filter-price {
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.range {
  grid-column: 1 / -1;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/*-------PAGINATION--------*/

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 60px;
  position: relative;
}

.pagination::before {
  position: absolute;
  content: "";
  background-color: #e6e6e6;
  width: 1060px;
  height: 1px;
  top: -40px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-double {
  padding: 12px 18px;
}

.pagination-item-ellipsis {
  display: block;
  padding: 16px 22px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*-------NAVIGATION--------*/

.main-navigation {
  display: flex;
  align-items: flex-start;
  padding: 0 70px 0 70px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

.navigation-item {
  position: relative;
}

.navigation-link-counter {
  position: absolute;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  right: 5px;
  top: 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #0000004d;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current-hotel {
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  bottom: 0;
  z-index: 2;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #0000004d;
}
